html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(245, 246, 254);
}

header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    background:rgb(55, 55, 55);
    color: #fff;
  }

header h1 {
    margin: 10px;
    margin-left: -10px;
    background-color: rgb(173, 68, 68);
    display: inline-block;
    font-size: 48px;
    padding-left: 40px;
    padding-right: 3px;
    color:rgb(55, 55, 55)
}

nav {
    display: inline-block;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color:rgb(55, 55, 55);
}

nav a {
    color: rgba(127, 244, 255, 0.614);
    text-decoration: none;
}

header ul {
    list-style-type: none;
}

header li {
    border-bottom: solid 2px rgba(127, 244, 255, 0.614);
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.hero {
    position:relative;
}

.hero img {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    background-position: center;
}

.subtitle {
    position: absolute;
    top: 140px;
    right: 35px;
    background-color:rgb(55, 55, 55);
    color:rgba(127, 244, 255, 0.614);
    padding: 10px;
    font-size: 130%;
    font-family: 'Lucida Sans', Arial, sans-serif;
    z-index: 1;
}

.about-me h2 {
    text-align: right;
    position: absolute;
    margin-left: 120px;
    margin-bottom: 10px;
}

.about-me h3 {
     border-left: solid 3px;
     border-color: red;
     margin-left: 200px;
     padding-right: 130px;
     padding-left: 50px;
     flex: 0 0 300px;
}

.about-me img { 
     border-radius: 10px;
     margin-left: 20px;
     margin-top: 10px;
}

.work-title {
    border-bottom: solid 3px;
    border-color: red;
    text-align:center;
    padding: 10px;
    margin-bottom: 18px;
}

.work {
    flex: 1;
    background-color:rgb(245, 246, 254);
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
}

.first-card {
    padding-left: 190px;
    flex: 2 1 2000px;
}

.first-card img {
    height: 370px;
    width: 725px;
    margin-left: 10px;
    border-style: solid;
    border-color: rgba(127, 244, 255, 0.614);
    border-width: 3px;
}

.first-card .photobox {
    background-color:rgba(127, 244, 255);
    border-style: solid;
    border-color: rgba(127, 244, 255, 0.614);
    border-width: 3px;
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
    z-index: 2;
    color: black;
}

.rows {
    padding-left: 190px;
}

.card img {
    border-style: solid;
    border-color: rgba(127, 244, 255);
    border-width: 3px;
    height: 170px;
    width: 350px;
    margin-bottom: 25px;

}

.card .photobox {
    background-color:rgba(127, 244, 255, 0.5);
    border-style: solid;
    border-color: rgba(127, 244, 255);
    border-width: 3px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.photobox a {
    color: black;
    text-decoration: none;
}

.photobox h3 {
    margin-bottom: 0px;
}

.photobox div {
    margin-bottom: 10px;
}

.card > h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-style: solid;
    border-color: var(--white);
    border-width: 1px;
    border-radius: 10px;
    position: relative;
    top: -20px;
    background: var(--grey);
    color: var(--pink);
    font-size: 25px;
  }
  
  .card > h3 {
    text-align: left;
    padding-bottom: 20px;
    color: var(--pink);
  }
  
  .card > h4 {
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: var(--white);
    background-image: linear-gradient(to bottom, #a742e2, var(--pink));
    border-radius: 10px;
  }
  
  @media screen and (max-width: 930px) {
    .first-card img {
        max-width: 100%;
        height: auto;
    }
    .first-card {
        padding-left: 0px;
    }
    .rows {
        padding-left: 0px;
    }
    .about-me h2 {
        margin-left: 0px;
    }
    .about-me h3 {
        margin-left: 80px;
        padding-left: 5px;
        padding-right: 5px;
    }
  }

  .contact-me a {
    color: red;
  }

  footer h2 {
    text-align: right;
    position: absolute;
    margin-left: 100px;
    margin-top: 1px;
}

footer h3 {
    border-left: solid 3px;
    border-color: red;
    margin-left: 200px;
    padding-right: 130px;
    padding-left: 50px;
    flex: 0 0 300px;
    height: 70px;
}

/*

.rows {
    padding-left: 40px;
    border-left: solid 3px;
    border-color: red;
    margin-left: 200px;
}

.work {
    flex: 1;
    background-color:rgb(245, 246, 254);
    display: flex;
    flex-wrap: wrap;
}

.work h2 {
    border-right: solid 3px;
    border-color: red;
    text-align: right;
    margin-left: 35px;
    padding-right: 5px;
    flex: 0 0 160px;
    height: 360px
}

.card {
    padding: 10px;
}

.first-card {
    padding-left: 40px;
    flex: 2 1 200px;
}

.first-card img {
    height: 370px;
    width: 725px;
    margin-left: 10px;
    border-style: solid;
    border-color: rgba(127, 244, 255, 0.614);
    border-width: 3px;
}

.first-card .photobox {
    background-color:rgba(127, 244, 255);
    border-style: solid;
    border-color: rgba(127, 244, 255, 0.614);
    border-width: 3px;
    margin-top: 250px;
    margin-left: 10px;
    position: absolute;
    z-index: 2;
}

.rows {
    padding-left: 40px;
    border-left: solid 3px;
    border-color: red;
    margin-left: 200px;
}

.card img {
    border-style: solid;
    border-color: rgba(127, 244, 255);
    border-width: 3px;
    height: 120px;
    width: 350px;
    margin-bottom: 25px;

}

.card .photobox {
    background-color:rgba(127, 244, 255, 0.5);
    border-style: solid;
    border-color: rgba(127, 244, 255);
    border-width: 3px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card > h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-style: solid;
    border-color: var(--white);
    border-width: 1px;
    border-radius: 10px;
    position: relative;
    top: -20px;
    background: var(--grey);
    color: var(--pink);
    font-size: 25px;
  }
  
  .card > h3 {
    text-align: left;
    padding-bottom: 20px;
    color: var(--pink);
  }
  
  .card > h4 {
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: var(--white);
    background-image: linear-gradient(to bottom, #a742e2, var(--pink));
    border-radius: 10px;
  }
  */




/*
.work {
    flex: 1;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: solid 3px;
    border-color: red;
    margin-left: 200px;
    background-color:rgb(245, 246, 254);
  }

  .work h2 {
    text-align: right;
    position: absolute;
    margin-right: 750px;
  }

  .card:first-child {
    flex: 0 0 1000px;
    width: 100%;
  }

  .card {
    border-style: solid;
    border-color:rgba(127, 244, 255, 0.614);
    display:grid;
    gap: 10px;
  }

  .card > header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
  }
  
  .card > p {
    text-align: center;
  }
  
  .card > img {
    width: 100%;
  }
  



/*
.about-me .work {
    display: flex;
}

h3 {
    margin-right: 10px;
    padding-left: 10px;
    border-left: solid rgb(255, 102, 36) 2px;
    color: rgb(43, 43, 43);
    width: 79%;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    margin-left: 100px;
    color: rgb(55, 55, 55);
    font-size: 30px;
    width: 19%;
}


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

/*
.about-me .main {
    display: flex;
}

h3 {
    margin-right: 10px;
    padding-left: 10px;
    border-left: solid rgb(255, 102, 36) 2px;
    color: rgb(43, 43, 43);
    width: 79%;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(55, 55, 55);
    text-align: right;
    font-size: 30px;
    width: 19%;
}

 /*
.work h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: -30px;
    margin-left: 80px;
    color: rgb(55, 55, 55);
    font-size: 30px;
} */




/*

    width: 90%;
    height: 200%;

    padding: 20px;
    clear: both;
    float: left;
    width: 10%;

.about-me h2 {
    position: absolute;
    color: red;
    left: 15px;
}


body h2 {
    display: flex;
    flex-direction: column;
    color:rgb(55, 55, 55);
    font-size: 200%;
    float: left;
    width: 20%;
} */
/*
.work


.work img {
    height: 300px;
    margin-bottom: 25px;
  
}

.work img:first-child {
}





/* 

.main-content {

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}



.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
} 

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content img {
    max-height: 200px;
}

.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.lead-generation, 
.brand-awareness, 
.cost-management {
    margin-bottom: 32px;
    color: #ffffff;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 2