/* VARIABLE COLORS */
:root {
    --off-white:  rgb(245, 246, 254);
    --grey: rgb(55, 55, 55);
    --aqua: rgba(127, 244, 255, 0.614);
    --light-aqua: rgba(127, 244, 255);
  }  

/* Nav links have a smooth scroll */
html {
    scroll-behavior: smooth;
  }

  /* Body font, background colour and no margins */
body {
    margin: 0px;
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-color: var(--off-white);
}

/* Allows header title and nav to wrap */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--grey);
    color: var(--off-white);
  }

/* Header title */
header h1 {
    margin: 10px;
    margin-left: -10px;
    background-color: rgb(173, 68, 68);
    display: inline-block;
    font-size: 48px;
    padding-left: 40px;
    padding-right: 3px;
    color: var(--grey);
}

/* Nav bar structuring */
nav {
    display: inline-block;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: var(--grey);
}

/* Nav link colour */
nav a {
    color: var(--aqua);
    text-decoration: none;
}

/* Removed starter padding on nav links from user agent stylesheet */
nav ul {
    padding-inline-start: 0px;
}

/* Nav links */
nav li {
    border-bottom: solid 2px var(--aqua);
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/* Hero banner */
.hero {
    position:relative;
}

.hero img {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    background-position: center;
}

/* The box inside the hero banner */
.hero-box {
    position: absolute;
    top: 140px;
    right: 35px;
    background-color: var(--grey);
    color:rgba(127, 244, 255, 0.614);
    padding: 10px;
    font-size: 130%;
    font-family: 'Lucida Sans', Arial, sans-serif;
    z-index: 1;
}

/* About me title */
.about-me h2 {
    text-align: right;
    position: absolute;
    margin-left: 120px;
    margin-bottom: 10px;
}

/* About me main text */
.about-me h3 {
     border-left: solid 3px;
     border-color: red;
     margin-left: 200px;
     padding-right: 130px;
     padding-left: 50px;
     flex: 0 0 300px;
}

/* Image under about me title */
.about-me img { 
     border-radius: 10px;
     margin-left: 20px;
     margin-top: 10px;
}

/* Work title */
.work-title {
    border-bottom: solid 3px;
    border-color: red;
    text-align:center;
    padding: 10px;
    margin-bottom: 18px;
}

/* Making work section flex wrapped */
.work {
    flex: 1;
    background-color: var(--off-white);
    display: flex;
    flex-wrap: wrap;
}

/* Cards containing project photos and info */
.card {
    padding: 10px;
}

/* First card is padded left and alone on row */
.first-card {
    padding-left: 190px;
    flex: 2 1 2000px;
}

/* First card is larger than the rest */
.first-card img {
    height: 370px;
    width: 725px;
    margin-left: 10px;
    border-style: solid;
    border-color: var(--aqua);
    border-width: 3px;
}

/* Box laying over card image */
.first-card .photobox {
    background-color:rgba(127, 244, 255);
    border-style: solid;
    border-color: var(--aqua);
    border-width: 3px;
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
    z-index: 2;
    color: black;
}

/* Adding padding to the rowed cards below big card */
.rows {
    padding-left: 190px;
}

/* Images on the smaller cards */
.card img {
    border-style: solid;
    border-color: var(--light-aqua);
    border-width: 3px;
    height: 170px;
    width: 350px;
    margin-bottom: 25px;

}

/* The descriptive text box above the smaller card photos */
.card .photobox {
    background-color: var(--aqua);
    border-style: solid;
    border-color: var(--light-aqua);
    border-width: 3px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Customing photobox links */
.photobox a {
    color: black;
    text-decoration: none;
}

/* Photobox title */
.photobox h3 {
    margin-bottom: 0px;
}

/* Photobox smaller text */
.photobox div {
    margin-bottom: 10px;
}

/* Contact me red link colour */
  .contact-me a {
    color: red;
  }

  /* Contact me title */
  footer h2 {
    text-align: right;
    position: absolute;
    margin-left: 100px;
    margin-top: 1px;
}

/* Contact me links formatting */
footer h3 {
    border-left: solid 3px;
    border-color: red;
    margin-left: 200px;
    padding-right: 130px;
    padding-left: 50px;
    flex: 0 0 300px;
    height: 70px;
}

/* Shrinks first image down and removes padding and margins from various other sections of the page 
to accomadate to a smaller viewport */
@media screen and (max-width: 930px) {
    .first-card img {
        max-width: 100%;
        height: auto;
    }
    .first-card {
        padding-left: 0px;
    }
    .rows {
        padding-left: 0px;
    }
    .about-me h2 {
        margin-left: 0px;
    }
    .about-me h3 {
        margin-left: 80px;
        padding-left: 5px;
        padding-right: 5px;
    }
  }